# Расчёты
numpy
scipy
pandas
scikit-learn

# Чтение снимков
rasterio

# Графики (командная строка)
matplotlib
seaborn      # если графики командной строки не нужны, можно убрать

# Веб-сервер
fastapi
uvicorn
pydantic
